@use "./_color-themes.scss" as c;
@import "./mediaQueries.scss";

.gradient {
	font-family: Sunroll-Bold;
	  background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);
	  background-color: c.$mainBG;
	  background-size: 300% 300%;
	  -webkit-background-clip: text;
	  -moz-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -moz-text-fill-color: transparent;
	  text-align: center;
	  animation: animate 7s ease infinite;
  }
  @keyframes animate {
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}  
	100%{background-position: 0% 50%;}  
  }
  
.server {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.storyboard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 80vh;
    margin: 0 20%;
    align-items: center;
	text-align: center;
	h1 {font-size: 5.5vw;} 

	@include media('<=tablet'){
		margin: 0 20%;
		h1 {font-size: 3rem;}

	}
	@include media('>=LGdesktop'){
		margin: 0 20%;
		h1 {font-size: 5vw;}
	}
    .aboutnav {
        font-size: 200%;
		flex-direction: row;
		justify-content: center;
        svg {
            text-align: center;
		padding: 0 2rem;
		color: c.$mainColor;
		@include media('<=phone'){padding: 0 1rem}
        }
        @include media('<=phone'){
            font-size: 10vw;
            justify-content:center;
        }
		@include media('>=LGdesktop') {
			font-size: 2.5vw;
            justify-content:center;
		}
    }
}

.aboutSNS {
	font-size: 150%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
	svg {
		text-align: center;
		color: c.$mainColor;
		padding: 0 3rem 0 0;
	}
        @include media('<=phone'){
            font-size: 3vw;
            justify-content:center;
        }
}
.slugContainer {
	//padding: 1.3vw; 
	display: flex;
	position: relative;
	flex-direction: column;
	max-width: 42rem;
	width: 60%;
	font-size: larger;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.about {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	font-size: larger;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	.pfp {border-radius: 23%;}
	.desc {	padding-left:3%}
	@include media('<=desktop'){
		flex-direction: column;
		.pfp{max-width: 360px;}
		.desc{padding-left: 0;}
	}
}

.container {
	//height: 87vh;
	padding: 1.3vw; 
	display: flex;
	position: relative;
	flex-direction: column;
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.subContainer {
	//min-height: 100vh;
	padding: 1.3vw; 
	display: flex;
	position: relative;
	flex-direction: column;
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	//justify-content: center;
	align-items: center;
	@include media('<=phone'){
		width:100vw;
	}
}

.worksContainer {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	align-items: center;
	justify-content: center;
}

.postcard {
	padding-inline-start: 0%;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(0, minmax(360px, 1fr));
	padding-inline-start: 0%;
	width: 100%;
	position: relative;
	place-items: center;
	align-items: center;
	justify-content: center;
}

.gridItem {
	padding: 50px;
  font-size: 30px;
  text-align: left;
}

.postitem {
	margin: 0.5rem;
	position: relative;
    display: flex;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: 7%;
	list-style-type: none;
	flex: 1 0 auto;
	flex-direction: column;
	a:hover {
		opacity: 0.2;
		transition: 0.2s ease;
	}
	span {
		color: white;
		font-weight: bold;
	}
	
}

.DateMap {
	ul {list-style-type: none;}
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	padding-inline-start: 0%;
	width: 100%;
	//text-align: center;
}

.seeMoreButton {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 5vmin;
	button {
	font-family: Sunroll-Bold;
		background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);	
		animation: animate 7s ease infinite;
		background-size: 200%;
		-webkit-background-clip:initial;
		-moz-background-clip:initial;
		background-clip:initial;
		border-radius: 20px;
		padding: 2vmin 3vmin;
		color: white;
		font-size: large;
		cursor: pointer; 
	}
	button:hover {color: rgb(26, 3, 56); transition: 0.3s ease; }

} 	

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #ccbfbf;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
.card {
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

.blogdeets {
	text-align: center;
}


.filterNav {
    display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    button {
        font-size: 130%;
        text-decoration: none;
        border: none;
        color: white;
        background-color: c.$mainColor;
        border-radius: 30px;
        padding: 0.7vw 3vw;
        margin: 1vw;
        display: block;
    }
    button:hover {
        color: c.$mainBG;
        transition: 0.7s;
    }
    a:active, button:focus {
        background-color: white;
        color: c.$mainColor;
    }
	@media (hover: none) {
		cursor:'pointer'
	  }
}

.closeArchive {
	float: right;
	font-size: 250%;
}

.centerHeading {
	text-align: center;
	align-items: center;
	align-content: center;
}

.articleBanner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	img {height: 480px; width: auto; float: right ;}
	align-content:  center;
	column-gap: 0.5rem;
}

.GridContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}