@use "./_color-themes.scss" as c;
@import "./mediaQueries.scss";

.gradient {
	font-family: var(--sunroll-font);
	font-weight: 300;
	font-style: bold;
	  background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);
	  background-color: c.$mainBG;
	  background-size: 300% 300%;
	  -webkit-background-clip: text;
	  -moz-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -moz-text-fill-color: transparent;
	  text-align: center;
	  animation: animate 7s ease infinite;
  }
  @keyframes animate {
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}  
	100%{background-position: 0% 50%;}  
  }

.storyboard {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
    height: 80vh;
    margin: 0 15%;
    align-items: center;
	text-align: center;
	h1 {font-size: 6vw;} //4rem

	@include media('<=tablet'){
		justify-content:center;
		margin: 0 5%;
		h1 {font-size: 8.5vw;} //2.5rem
	}
	@include media('>=LGdesktop'){
		margin: 0 20%;
		h1 {font-size: 5vw;}
	}
    .aboutnav {
        font-size: 200%;
		flex-direction: row;
		justify-content: center;
        svg {
            text-align: center;
		padding: 0 1.8rem;
		color: c.$mainColor;
		@include media('<=phone'){padding: 0 1rem}
        }
        @include media('<=phone'){
            font-size: 10vw;
            justify-content:center;
        }
		@include media('>=LGdesktop') {
			font-size: 2.5vw;
            justify-content:center;
		}
    }
}

.aboutSNS {
	font-size: 150%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
	svg {
		text-align: center;
		color: c.$mainColor;
		padding: 0 3rem 0 0;
	}
        @include media('<=phone'){
            font-size: 3vw;
            justify-content:center;
        }
}

.about {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	font-size: larger;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	.pfp {border-radius: 23%;}
	.desc {	padding-left:3%}
	@include media('<=desktop'){
		flex-direction: column;
		.pfp{max-width: 360px;}
		.desc{padding-left: 0;}
	}
}
.itemGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include media('<=tablet'){
		grid-template-columns: 1fr;
	}
}
.itemGridExpand {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include media('>desktop'){
	grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	@include media('>=LGdesktop'){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	@include media('<=tablet'){
		grid-template-columns: 1fr;
	}
}
.itemContainer {
	position: relative;
	width: auto;
	height: auto;
	pointer-events: all;
  }
.postitem {	
	margin: 0.5rem;
	position: relative;
	border-radius: 7%;
	overflow:hidden;
	aspect-ratio: 1 / 1;
	:hover {
		opacity: 0.5;
		transition: 0.2s ease;
	}
}
//for the post title in the middle of the picture
.postTitle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
	span {
		color: white;
		font-weight: bold;
	}
	@include media('<desktop'){
		font-size: 1rem;
	}
}
a:hover + .postTitle {
  display:initial;
}

.DateMap {
	ul {list-style-type: none;}
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	padding-inline-start: 0%;
	width: 100%;
	//text-align: center;
}

.seeMoreButton {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 5vmin;
	button {
		font-family: var(--sunroll-font);
		font-weight: normal;
		font-style: bold;
		background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);	
		animation: animate 7s ease infinite;
		background-size: 200%;
		-webkit-background-clip:initial;
		-moz-background-clip:initial;
		background-clip:initial;
		border-radius: 3vmin;
		padding: 2vmin 3vmin;
		color: white;
		font-size: large;
		cursor: pointer; 
	}
	button:hover {color: rgb(26, 3, 56); transition: 0.3s ease; }

} 	

.SubButton {
	justify-content: center;
	align-items: center;
	display: flex;
	button {
	font-family: var(--sunroll-font);
		background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);	
		animation: animate 7s ease infinite;
		background-size: 200%;
		-webkit-background-clip:initial;
		-moz-background-clip:initial;
		background-clip:initial;
		border-radius: 3rem;
		padding: 1rem 7vmin;
		color: white;
		font-size: large;
		cursor: pointer; 
	}
	button:hover {color: rgb(26, 3, 56); transition: 0.3s ease; }

} 	


.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #ccbfbf;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filterNav {
    display:flex;
    align-items: center;
    flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
    button {
        font-size: medium;
        text-decoration: none;
        border: none;
        color: c.$mainColor;
        background-color: c.$mainBG;
        border-radius: 30px;
        padding: 0.5rem 1rem;
        display: block;
    }
    button:hover {
        color: white;
        transition: 0.7s;
    }
	@media (hover: none) {
		cursor:'pointer'
	  }
}

.closeArchive {
	float: right;
	font-size: 250%;
}

.centerHeading {
	text-align: center;
	align-items: center;
	align-content: center;
}

.articleBanner{
	margin: 0 10%;
	align-items: center;
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	padding: 2rem;
	.articleBanner_desc{
		padding: 1.5rem;
	}
	@include media('<=tablet'){
	grid-template-columns: 2fr;
	padding: 1rem ;
	display: block;
	margin: 0;
		.articleBanner_desc{
			padding: 0;
			text-align: center;
		}
	}
}

.subscribeForm{
	text-align: center;
	margin: 10% 25%;
	padding: 5% 5%;
	border-style: solid;
	border-width: 3px;
	border-color: c.$mainColor;
	border-radius: 1rem;
	@include media('<=tablet'){
		margin: 5% 15%;
	}
  }

  .loadingPref {
	font-family: var(--sunroll-font);
	font-weight: "bold";
	margin: 3% 10%;
	display: grid;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	button {
		font-family: var(--sunroll-font);
		font-weight: "bold";
		font-size: xx-small;
		background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);	
		animation: animate 7s ease infinite;
		background-size: 200%;
		-webkit-background-clip:initial;
		-moz-background-clip:initial;
		background-clip:initial;
		border-radius: 3vmin;
		padding: 2vmin 2vmin;
		color: white;
		font-size: large;
		cursor: pointer; 
	}
	button:hover {color: rgb(26, 3, 56); transition: 0.3s ease; }
  }

.itemList {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	position: relative;
	width: auto;
}

.listContainer{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 0.2fr;
	overflow:hidden;
	margin: 0 10%;
	align-items: center;	
}

.listImage {
	position: relative;
	aspect-ratio: 1.2/1;
	overflow:hidden;
}

.listText{
	margin: 0 5%;
}

.viewPref{
	height: 2rem;
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	button {
		background-color: c.$mainBG;
		color: c.$mainColor;
		border: none;
	}
}

.imageFix{
	position:relative;
}