@use "./_color-themes.scss" as c;
@import "./mediaQueries.scss";

.gradient {
	font-family: Sunroll-Bold;
	  background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);
	  background-color: c.$mainBG;
	  background-size: 300% 300%;
	  -webkit-background-clip: text;
	  -moz-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -moz-text-fill-color: transparent;
	  text-align: center;
	  animation: animate 7s ease infinite;
  }
  @keyframes animate {
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}  
	100%{background-position: 0% 50%;}  
  }

.storyboard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 80vh;
    margin: 0 20%;
    align-items: center;
	text-align: center;
	h1 {font-size: 5.5vw;} 

	@include media('<=tablet'){
		margin: 0 20%;
		h1 {font-size: 3rem;}

	}
	@include media('>=LGdesktop'){
		margin: 0 20%;
		h1 {font-size: 5vw;}
	}
    .aboutnav {
        font-size: 200%;
		flex-direction: row;
		justify-content: center;
        svg {
            text-align: center;
		padding: 0 2rem;
		color: c.$mainColor;
		@include media('<=phone'){padding: 0 1rem}
        }
        @include media('<=phone'){
            font-size: 10vw;
            justify-content:center;
        }
		@include media('>=LGdesktop') {
			font-size: 2.5vw;
            justify-content:center;
		}
    }
}

.aboutSNS {
	font-size: 150%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
	svg {
		text-align: center;
		color: c.$mainColor;
		padding: 0 3rem 0 0;
	}
        @include media('<=phone'){
            font-size: 3vw;
            justify-content:center;
        }
}

.about {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	font-size: larger;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	.pfp {border-radius: 23%;}
	.desc {	padding-left:3%}
	@include media('<=desktop'){
		flex-direction: column;
		.pfp{max-width: 360px;}
		.desc{padding-left: 0;}
	}
}

.itemContainer {
	position: relative;
	width: auto;
	height: auto;
  }
.postitem {
	margin: 0.5rem;
	position: relative;
	overflow:hidden;
	border-radius: 7%;
	aspect-ratio: 1 / 1;
	:hover {
		opacity: 0.5;
		transition: 0.2s ease;
	}
	span {
		color: white;
		font-weight: bold;
	}
}
//for the post title in the middle of the picture
.postTitle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
a:hover + .postTitle {
  display:initial;
}

.DateMap {
	ul {list-style-type: none;}
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	padding-inline-start: 0%;
	width: 100%;
	//text-align: center;
}

.seeMoreButton {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 5vmin;
	button {
	font-family: Sunroll-Bold;
		background-image: linear-gradient(35deg, c.$mainColor, #ac60ab, #6a60a0, #385880);	
		animation: animate 7s ease infinite;
		background-size: 200%;
		-webkit-background-clip:initial;
		-moz-background-clip:initial;
		background-clip:initial;
		border-radius: 3vmin;
		padding: 2vmin 3vmin;
		color: white;
		font-size: large;
		cursor: pointer; 
	}
	button:hover {color: rgb(26, 3, 56); transition: 0.3s ease; }

} 	

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #ccbfbf;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filterNav {
    display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    button {
        font-size: 130%;
        text-decoration: none;
        border: none;
        color: white;
        background-color: c.$mainColor;
        border-radius: 30px;
        padding: 0.7vw 3vw;
        margin: 1vw;
        display: block;
    }
    button:hover {
        color: c.$mainBG;
        transition: 0.7s;
    }
    a:active, button:focus {
        background-color: white;
        color: c.$mainColor;
    }
	@media (hover: none) {
		cursor:'pointer'
	  }
}

.closeArchive {
	float: right;
	font-size: 250%;
}

.centerHeading {
	text-align: center;
	align-items: center;
	align-content: center;
}